body {
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color:rgb(244,220,180);
    line-height: 1.5;
    color: #1D0200;
}

header {
    background-image: url('./assets/banner-image.jpg');
    background-size: cover; 
    background-position: center; 
    display: flex;
}

h1, h2 {
    margin:0px;
    text-shadow: 0 4px 8px rgba(29, 2, 0, 0.2);
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgba(114,64,111,255);
}

h1 {
    padding-left:15px;
    padding-bottom: 15px;
    color: rgb(235,139,68);
    text-shadow: 0 4px 8px rgba(29, 2, 0, 1);
    
}

.image-container {
    padding-top: 15px;
    padding-left:15px;
    padding-bottom: 0px;
}

.contact-info {
    max-width: 200px;
    position: absolute;
    right: 5px;
    background-color: rgba(244,148,140,.8);
}

.main-content {
    display: flex;
    flex-direction: column;
}

a { 
    color:rgb(16,74,79);
    text-decoration: none;
}

a:hover { 
    color: rgb(60,188,196);
    text-decoration: underline;
}

img.profile-pic { 
    border-radius: 75%;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0 4px 8px rgba(251,235,211,1);
    opacity: 90%;
    transition: opacity .3s ease, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

img.profile-pic:hover, .travel-img:hover {
    opacity: 100%;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(29, 2, 0, 0.5);
}

article { 
    margin: 15px 15px;
    padding: 15px 15px;
    background-color: rgba(244,148,140,.5);
    border: 1px solid rgb(188,171,159);
    border-radius: 15px;
}

article:hover {
    box-shadow: 0 4px 8px rgba(29, 2, 0, 0.5);
}

article p {
    margin: 10px;
}

footer {
    justify-content: center;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    background: rgb(116,68,107);
    color: white;
}

@media screen and (max-width:650px) {
    body { 
        line-height: 1.6;
        font-size: larger;
    }

    h1 { 
        padding: 0px;
        text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;    
    }

    
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    footer{
        grid-template-columns: 1fr;
        text-align: left;
    }
}